/* Body and headers */
.main-container{
  /*max-width:1440px !important;*/
  width: 100vw;
  max-width: 98% !important;
  /*height: 100vh;*/
  margin-left: 0;
  margin-right: 0;
}

.container-fluid{
  width: 95vw;
  /*height: 100vh;*/
  
}

.title{
 display:none;
}

body {
  font-family: "FrutigerLTStd-Black","Arial",Arial,sans-serif;
  font-size: 14px;
  color: black;
  width:100vw;
 /* height: 100vh;*/
}

p {
  font-family: "NPSRawlinsonOTTwo","Times New Roman",serif;
  font-size: 16px;
  margin: 0;
}

/* Park name */
h1 {
  font-family: "FrutigerLTStd-Black","Arial",Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 20px 0;
}

/*Tab titles and 'About' headings*/
h2 {
  font-family: "FrutigerLTStd-Black","Arial",Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 5px 0 10px 0;
}

summary > h2 {
  margin: 0;
  display: inline-block; /* so it shows up inline with details arrow */
}

/* 'About' subheadings */
h3 {
  font-family: "FrutigerLTStd-Black","Arial",Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

/* Figs and legend title */
h4 {
  font-family: "FrutigerLTStd-Black","Arial",Arial,sans-serif;
  font-size:11px;
  font-weight: bold;
  color: black;
  /*color: #555;*/
}

/* Header font */
h5 {
  font-family: "FrutigerLTStd-Black","Arial",Arial,sans-serif;
  font-size:10px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}

/* Banner */
.banner{
  background: black !important;
  height: 105px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.header{
 height: 100px;
 width: 98vw;
 margin-left: auto;
 margin-right: auto;
}

#col-left-header{
  float:left;
  width: 63vw;
  padding: 5px 0 5px 0;
  margin-left: -5px;
}

#col-right-header{
  float:right;
  width: 7vw;
  padding-top: 5px 0px 5px 0;
  margin-right: 5px;
  margin-left: 0px;
}

#col-middle-header{
  float:left;
  /*text-align:left;*/
  width: 20vw;
  padding: 5px 0;
  margin-right: 0;
}

.header img{
  display: inline-block;
  height: 90px;
  position: relative;
}

.header h5 {
  position: relative;
  text-align: left;
  color: white;
  font-size: 14px;
  padding: 2px 10px 1px 5px;
  margin:4px 5px;
  font-family: "Arial",Arial,sans-serif;
}

.section{
  width:100vw;
} 

/* Tabset pills */
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #3288bd;
    font-family: "FrutigerLTStd-Light",FrutigerLTStd-Light, sans-serif;
    font-size: 16px;
    /*max-width: 96vw;*/
}

.nav-tabs{
  max-width: 96vw;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #3288bd;
}

.drop{
  font-family: "Arial",Arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}